.app.light {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #040448;

    --primary-color: #000b2e;
    --secondary-color: #0449e0;
    --inverted-primary-color: #03b803;
    --inverted-secondary-color: #04ff04;
}